<link rel="stylesheet" href="{{ asset('bundles/mystyle_home.css') }}" />
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body >

<div class="top">
    <header> 
        <nav>
            <ul>
                <li style="font-size:200%"> <a href="home">Home</a>&nbsp&nbsp&nbsp<a href="form">Bookings&nbsp&nbsp&nbsp</a><a href="contact">Contact &nbsp&nbsp&nbsp&nbsp </a> 
                </li>
            </ul> 
        </nav>
    </header>
        <p style="font-size:400%; text-align:center; font-family:Apple Chancery;">Hotel Timis
        </p>
</div>
<div class="down">
    <header>
    </header>
    {% for id, var in info %}
    <article>
         <img style="background-image:url('bundles/{{ var.photo }}')">
         </img>
        <suma>
        
                PRET:{{ var.suma }}
        </suma>
        
        </p>
        <text>
            {{ var.txt }}
        </text>
    </article>
    {% endfor %}
    <footer>Copyright &copy; Stupidreason<footer>
</div>
</body>
</html>
